<!doctype html>
<!-- AngularJS: ng-app specifies Angular app, ng-init= initializes data -->
<html ng-app="myAngular" ng-init="">
	
	<head>
	    
	    <!-- Bootstrap -->
	    <meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<!-- The above 3 meta tags must come first in the head;-->
    	<meta name="description" content="">
    	<meta name="author" content="">
    	<link rel="icon" href="ico/flask.ico">     
        <!-- Custom styles for this template -->
    	<link href="css/theme.css" rel="stylesheet">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>        
        
        <title>The Brew Lab</title>
        <link rel="stylesheet" type="text/css" href="css/theme.css" />
    </head>
    <body>

        <!-- AngularJS: add controller to view-->
		<div ng-controller="ctrl1">  
            <!-- Bootstrap: navigation bar -->
		    <nav class="navbar navbar-default navbar-fixed-top">
                <div class="linep6">
                    <div class="container">

                        <div class="navbar-header">

                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>


                            <a class="navbar-brand" href="home">The Brew Lab</a>
                        </div>
                        <div id="navbar" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav navbar-left">
                                <li id="equiplink"><a href="equipment">Equipment</a></li>
                                <li id="proclink"><a href="process">Process</a></li>
                                <li id="stylelink"><a href="beerStyle">Styles</a></li>
                                <li id="resourcelink"><a href="resources">Resources</a></li>
                                <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">     About       <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="about">About</a></li>
                                    <li><a href="contact">Contact</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="references">References</a></li>
                                </ul>   
                            </ul>


                        </div><!--/.nav-collapse -->
                    </div>
                </div>
                <div class="line">
                    <a href="home"><img class="embeddedIcon" id="topIcon" src="ico/myiconTop.jpg"></a>
                </div>

                            
                        
            </nav>
            <div class="container theme-showcase">
                {{{body}}}
            </div>
                
            <!--Footer-->
            <footer class="page-footer blue center-on-small-only">


                <div class="linep1">
                    <a href="equipment">Equipment</a><br>
                    <a href="process">Process</a><br>
                    <a href="beerStyles"> Styles</a><br>
                    <a href="resources">Resources</a><br>
                    <a href="contact">Contact</a><br>
                </div>

                <div class="linep6">
                    <a href="home"><img class="embeddedIcon" id="bottomIcon" src="ico/myiconBottom.JPG"></a> 
                </div>

                <div class="container-fluid linep8">

                    <p id="footer-myinfo">
                        <p>Sean Hinds 2017</p>
                        <a href="https://www.github.com/sth144"> Check out my GitHub </a>
                    </p>


                </div>

            </footer>
        
        </div>    
        
	    <!-- Bootstrap: core JavaScript-->
	    <!-- Placed at the end of the document so the pages load faster -->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
	    <script src="../../dist/js/bootstrap.min.js"></script>
	    <script src="../../assets/js/docs.min.js"></script>
	    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

		<!--AngularJS: API and module links-->
	    <!-- Load the AngularJS library -->
	    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
	    <!-- Load the JS Module -->
	    <script src="js/myAngular.js"></script>

	</body>

</html>