<!doctype html>
<!-- AngularJS: ng-app specifies Angular app, ng-init= initializes data -->
<html ng-app="app1" ng-init="">
	
	<head>
	    
	    <!-- Bootstrap -->
	    <meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<!-- The above 3 meta tags must come first in the head;-->
    	<meta name="description" content="">
    	<meta name="author" content="">
    	<link rel="icon" href="favicon.ico">     
        <!-- Custom styles for this template -->
    	<link href="css/theme.css" rel="stylesheet">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>        
        
        <title>Homebrew Labs</title>
        <link rel="stylesheet" type="text/css" href="css/theme.css" />
    </head>
    <body>
        <!-- AngularJS: add controller to view-->
		<div ng-controller="ctrl1">  
            <!-- Bootstrap: navigation bar -->
		    <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="home.html">Homebrew Labs</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-left">
                            <li><a href="process.html">Process</a></li>
                            <li><a href="beerStyle.html">Styles</a></li>
                            <li><a href="resources.html">Resources</a></li>
                            <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About       <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="about.html">About</a></li>
                                <li><a href="contact.html">Contact</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="references.html">References</a></li>
                            </ul>   
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </nav>
            <div class="container theme-showcase">
                {{{body}}}
            </div>
        
        </div>    
	    <!-- Bootstrap: core JavaScript-->
	    <!-- Placed at the end of the document so the pages load faster -->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
	    <script src="../../dist/js/bootstrap.min.js"></script>
	    <script src="../../assets/js/docs.min.js"></script>
	    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

		<!--AngularJS: API and module links-->
	    <!-- Load the AngularJS library -->
	    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
	    <!-- Load the JS Module -->
	    <script src="../js/default.js"></script>

	</body>

</html>