<!--********************************************************************************************************************************* 
    Title: Handlebars for 404 page
    Author: Sean Hinds
    Date: 11/18/17
    Description: 404 page template.
**********************************************************************************************************************************-->

<h1>Error 404 - The Page Could Not Be Found</h1>