<div ng-controller="sel">
    <div class="page-header">
        <div class="jumbotron">
            <h1>Common Beer Styles</h1>
        </div>

    </div>

    <select class="selector linep1 form-control" id="selectBox" size="6" ng-change="update()">
        <option id="s1">Pilsener</option>
        <option id="s2">India Pale Ale</option>
        <option id="s3">Brown Ale</option>
        <option id="s4">Porter</option>
        <option id="s5">Stout</option>
        <option id="s6">Oktoberfest</option>
        <option id="s7">Lambic</option>
        <option id="s8">Saison</option>
        <option id="s9">Bock</option>
        <option id="s10">Gose</option>
    </select>
    <div class="panel linep8 panel-default" id="pilsener">
        <div class="panel-heading">
            <h3 class="panel-title">Pilsener</h3>
        </div>
        <div class="panel-body">
            <img src="img/pils.jpg"><br>
            Pilsener, also known as Pils, or Pilsen, is a light lager. This style originated in the 19th century in town of Pilsen in the modern day Czech Republic. It has grown to be one of the most popular beer styles in the world, known for it's crisp, fresh taste and easy drinkability. Unfortunately, this is one of the most difficult styles to emulate as a homebrewer. It requires rigid process controls and tight temperature regulation. There is a lot that can go wrong with this style. This is definitely not the place to start for a new homebrewer. It is, however, an impressive feat for a more experienced homebrewer to attempt. 
            <p>Prominent examples of the style include Pilsener Urquell (the original pilsener), Carlsburg, and Miller Lite.
        </div>
    </div>
    <div class="panel linep8 panel-default" id="indiaPaleAle">
        <div class="panel-heading">
            <h3 class="panel-title">India Pale Ale</h3>
        </div>
        <div class="panel-body">
            <img src="img/ipa.jpg"><br>
            The iconic India pale ale originated when brewers infused larger quantities of hops in their pale ales so that the beer might survive long sea voyages. Hop alkaloids have antimicrobial activity, so while they lend bitterness and pleasant aromas to beer, they also protect it from infection. This style has gained notoriety in recent years, as its number of incarnations has exploded. The breadth of flavor and aroma to be explored in this hop-forward style is truly limitless, so it's not hard to understand why.
            <p>Prominent examples include about 75% of the craft beers at your local liquor store.</p>
        </div>
    </div>
    <div class="panel linep8 panel-default" id="brownAle">
        <div class="panel-heading">
            <h3 class="panel-title">Brown Ale</h3>
        </div>
        <div class="panel-body">
            <img src="img/brown.jpg"><br>
            Brown ale is a broad category of ales with roasted specialty malts. These ales often have a malt profiles ranging from nutty to malty, and mild hop character. This is a popular style among new homebrewers. Prominent examples of the style include Newcastle Brown Ale, and New Glarus Fat Squirrel.
        </div>
    </div>
    <div class="panel linep8 panel-default" id="porter">
        <div class="panel-heading">
            <h3 class="panel-title">Porter</h3>
        </div>
        <div class="panel-body">
            <img src="img/porter.jpg"><br>
            A porter is an English ale style using dark malts and a bitter hop character. These robust beers are often enjoyed in the winter. This is often a good starting place for new homebrewers. This style is relatively difficult to mess up.
            <p>Prominent examples of this style include O'so Night Train and Deschutes Black Butte Porter.</p>
        </div>
    </div>
    <div class="panel linep8 panel-default" id="stout">
        <div class="panel-heading">
            <h3 class="panel-title">Stout</h3>
        </div>
        <div class="panel-body">
            <img src="img/stout.jpg"><br>
            A stout is a style of dark beer similar to a porter but often with a thicker body and more mellow hop character. These creamy beers are a favorite for new homebrewers. You can mess around with all sorts of adjuncts and additives here like oatmeal, chocolate, lactose, and coffee, and probably end up with something drinkable.
            <p>Prominent examples of this style include Lefthand Nitro Milk Stout and the famous Guinness</p>
        </div>
    </div>
    <div class="panel linep8 panel-default" id="oktoberfest">
        <div class="panel-heading">
            <h3 class="panel-title">Oktoberfest</h3>
        </div>
        <div class="panel-body">
            <img src="img/oktoberfest.jpg"><br>
            Oktoberfest, otherwise known as M&auml;rzen, is a style of amber-to-dark lager often brewed during the Summer to be enjoyed in the Fall. This style is known for its smooth, full body, and slightly bitter hop character. Among lagers, this may be one of the easiest to try for a less experienced brewer. The fuller body and notable caramel and honey flavors can mask any off flavors due to improper lagering.
            <p>Prominent examples of this style include Sp&auml;ten M&auml;rzen, H&ouml;brau M&auml;rzen, and New Glarus Staghorn.</p>
        </div>
    </div>
    <div class="panel linep8 panel-default" id="lambic">
        <div class="panel-heading">
            <h3 class="panel-title">Lambic</h3>
        </div>
        <div class="panel-body">
            <img src="img/lambic.jpeg"><br>
            Lambics are a family of spontaneously fermented Belgian sour ales with aged hops. The sour tastes comes from metabolic biproducts like lactic acid (tart), acetic acid (vinegar-y), and 4-ethyl phenol ('barnyardy'), produced by lactobacillis bacteria and wild yeast such as Brettanomyces.<br>
            <img src="structures/ethylPhenol.JPG"><br>
            Brewers expose the wort of these beers to open air to inocculate, or blend in a bit of a previous lambic batch, as opposed to pitching a culture into the wort. Due to these inocculation methods the fermentation takes much longer, up to a year. Additionally, fermentation may be less reliable due to differences in the microbiota present, although brewers generally know the best times of year and weather conditions to ensure a consistent inocculations. This inocculation method also lends significant regional variation among beers of this style, so there is a lot of space to explore for those interested in this style.<br>
            <img src="structures/sourAcids.JPG"><br>
            <p>Brewers often add fruits such as raspberries, blueberries, or peaches to these beers during the fermentation. These fruits can add additional microbiota in addition to the flavors they impart. Often, these beers are aged further after fermentation.</p>
            <p>These beers are a major undertaking, and a time investment, but they can be very fun to experiment with. They do not require a particularly high skill level. You'll probably end up with something interesting</p>
            <p>Kriek lambics are probably the most prominent example of this style. Many of the sours produced by New Glarus Brewery are essentially lambics.</p>
        </div>
    </div>
    <div class="panel linep8 panel-default" id="saison">
        <div class="panel-heading">
            <h3 class="panel-title">Saison</h3>
        </div>
        <div class="panel-body">
            <img src="img/saison.jpg"><br>
            A saison, or farmouse ale, is a style with origins in France and Belgium. This full bodied ale was brewed in the Spring and Summer with robust Belgian yeast, which vigorously ferment at high temperatures. These yeast give off many distinctive phenol compounds and alkyl acetate esters, which lend notes of cloves and fruits like banana to the nose. 
            This is an easy style to brew, especially during the Summer, as you can ferment at temperatures into the 80&deg;F's.
            <p>Most craft breweries have picked up this style in recent years. It is witnessing the explosion of popularity that IPAs did a few years back.</p>
        </div>
    </div>
    <div class="panel linep8 panel-default" id="bock">
        <div class="panel-heading">
            <h3 class="panel-title">Bock</h3>
        </div>
        <div class="panel-body">
            <img src="img/bock.jpg"><br>
            A bock is a high gravity, dark, smooth, and slightly sweet lager. The heavy bill of roasted and caramelly malts lends a mouthfeel comprable to that of a porter. Being lagers, these beers have a clean, crisp taste and aroma.
            <p>If you have the set up, give this one a shot. Try to have it ready in the Winter or Spring.</p>
            <p>This style has considerable popularity worldwide, from Europe, to Latin America, to Texas. Notable examples include Sp&auml;ten Optimator, Shiner Bock, and New Glarus Honey Bock.</p>
    </div>
    </div>
    <div class="panel linep8 panel-default" id="gose">
        <div class="panel-heading">
            <h3 class="panel-title">Gose</h3>
        </div>
        <div class="panel-body">
            <img src="img/gose.jpg"><br>
            A gose is a light, salty, sour wheat beer which tastes better than it sounds. This style originated in Leipzig Germany and has gained marked popularity among craft breweries in just the past couple of years. Legend has it that the ground water around Leipzig is hard, and the dissolved minerals lend a saltiness to the wort after boiling. This salt does not hinder yeast growth, but it does promote the growth of certain lactobacillis strains. Lactobacillis is either added directly or through exposure to lend a tart lactic sourness to the beer. The combination of salinity, tartness, and wheatiness ensures that when you try one of these, you will have a strong opinion one way or another.
            <p>This style is not hard to brew, if you're interested in taking it on. Process this one like an ale but age it at room temperature for a couple of months, as the lactobacillis take a long time to impart sourness.
            <p>Prominent examples of this style include Sierra Nevada's Otra Vez, and Destihl Brewery's Wild Sour Gose.</p>
        </div>
    </div>
</div>

<style>
    #stylelink {
        background: #EEEEEE;
    }
</style>
