<div ng-controller="sel">
<div class="page-header">
    <h1>Common Beer Styles</h1>
</div>
                
<select class="selector line" id="selectBox" size="4">
    <option value="lager" id="s1">Pilsener</option>
    <option value="lager" id="s2">India Pale Ale</option>
    <option value="lager" id="s3">Brown Ale</option>
    <option value="lager" id="s4">Porter</option>
    <option value="lager" id="s5">Stout</option>
    <option value="lager" id="s6">Oktoberfest</option>
    <option value="lager" id="s7">Lambic</option>
    <option value="lager" id="s8">Saison</option>
    <option value="lager" id="s9">Bock</option>
    <option value="lager" id="s10">Gose</option>
</select>
<div class="panel line panel-default" id="pilsener">
    <div class="panel-heading">
        <h3 class="panel-title">Pilsener</h3>
    </div>
    <div class="panel-body">
        Panel content
    </div>
</div>
<div class="panel line panel-default" id="indiaPaleAle">
    <div class="panel-heading">
        <h3 class="panel-title">India Pale Ale</h3>
    </div>
    <div class="panel-body">
        Panel content
    </div>
</div>
<div class="panel line panel-default" id="brownAle">
    <div class="panel-heading">
        <h3 class="panel-title">Brown Ale</h3>
    </div>
    <div class="panel-body">
        Panel content
    </div>
</div>
<div class="panel line panel-default" id="porter">
    <div class="panel-heading">
        <h3 class="panel-title">Porter</h3>
    </div>
    <div class="panel-body">
        Panel content
    </div>
</div>
<div class="panel line panel-default" id="stout">
    <div class="panel-heading">
        <h3 class="panel-title">Stout</h3>
    </div>
    <div class="panel-body">
        Panel content
    </div>
</div>
<div class="panel line panel-default" id="oktoberfest">
    <div class="panel-heading">
        <h3 class="panel-title">Oktoberfest</h3>
    </div>
    <div class="panel-body">
        Panel content
    </div>
</div>
<div class="panel line panel-default" id="lambic">
    <div class="panel-heading">
        <h3 class="panel-title">Lambic</h3>
    </div>
    <div class="panel-body">
        Panel content
    </div>
</div>
<div class="panel line panel-default" id="saison">
    <div class="panel-heading">
        <h3 class="panel-title">Saison</h3>
    </div>
    <div class="panel-body">
        Panel content
    </div>
</div>
<div class="panel line panel-default" id="bock">
    <div class="panel-heading">
        <h3 class="panel-title">Bock</h3>
    </div>
    <div class="panel-body">
        Panel content
</div>
</div>
<div class="panel line panel-default" id="gose">
    <div class="panel-heading">
        <h3 class="panel-title">Gose</h3>
    </div>
    <div class="panel-body">
        Panel content
    </div>
</div>
</div>
