<h1>POST Request Received</h1>
<div>You sent the following data to the server</div>
<table>
	<thead>
		<th>Attribute</th>
		<th>Value</th>
	</thead>
	<tbody>
		
		{{#each dataList}}
			<tr>
				<td>{{this.name}}</td>
				<td>{{this.value}}</td>
			</tr>
		{{/each}}

	</tbody>
</table>
