<!--  -->

<div ng-controller="mousePop">
    <div class="page-header">
        <div class="jumbotron">
            <h1>Process</h1>
        </div>
    </div>

    <ul class="linep1 list-group">
        <a href="#" id="lFirst" ng-mouseover="mouseOver($event)" class="list-group-item">Plan</a>
        <a id="lSecond" ng-mouseover="mouseOver($event)" class="list-group-item">Stage</a>
        <a id="lThird" ng-mouseover="mouseOver($event)" class="list-group-item">Mash</a>
        <a id="lFourth" ng-mouseover="mouseOver($event)" class="list-group-item">Lauter</a>
        <a id="lFifth" ng-mouseover="mouseOver($event)" class="list-group-item">Boil</a>
        <a id="lSixth" ng-mouseover="mouseOver($event)" class="list-group-item">Cool</a>
        <a id="lSeventh" ng-mouseover="mouseOver($event)" class="list-group-item">Ferment</a>
        <a id="lEighth" ng-mouseover="mouseOver($event)" class="list-group-item">Dispense</a>
        <a id="lNinth" ng-mouseover="mouseOver($event)" class="list-group-item">Condition</a>
        <a id="lTenth" ng-mouseover="mouseOver($event)" class="list-group-item">Enjoy</a>
    </ul>
    
    <div id="instruct">(Mouse over items on the left to view)</div>

    <div class="onOffp linep8 panel panel-default" id="pFirst">
        <div class="panel-heading">
            <h3 class="panel-title">Plan</h3>
        </div>
        <div class="panel-body">
            <img src="img/plan.jpg">         
            <br>
            <p>
            Come up with a plan. Assemble your brewing buddies and hash out exactly the type of beer you'd like to brew. Start to think of, and research, ways you might actually be able to achieve your desired product through selecting your ingredients of modifying your brewing process.
            </p> 
            <p>
            Use a tool like brewersfriend.com's Recipe Calculator (link in "Resources") to formulate your recipe. You can select a style you want to emulate, or enter the desired IBUs and color. IBU stands for International Bittering Unit, and is a measure of the concentration of iso-alpha acids (described below.) Play around with different malts and hops on this app, and then do some research into what sort of yeast strain you'd like to use.
            </p>
            <p>
            Then, go out to your local homebrewing shop. Run your recipe by the staff there. They will be happy to give input. Purchase any ingredients or equipment you need to brew. Don't get overwhelmed here. If you forget something, you can always come back.
            </p>
        </div>
    </div>
    
    <div class="onOffp linep8 panel panel-default" id="pSecond">
        <div class="panel-heading">
            <h3 class="panel-title">Stage</h3>
        </div>
        <div class="panel-body">
            <img src="img/stage.jpg">         
            <br>
            <p>
            It's brew day! Gather all your ingredients and supplies in front of you. Make sure you have everything you need by mentally running through your brewing process. If you are missing something, I hope your local homebrewing store is open! Go ahead and download my brew day documentation spreadsheet from the Resources page.
            </p>
            <p>Fill your kettle with 3.5 gallons of cold water. Cold water is softer, as it hasn't been sitting in your water heater, and heavy metals from your pipes are less soluble at lower temperatures. Some use distilled water, and swear by it, but I've never done that and I haven't run into problems. Record you pH at this stage. It should be close to neutral (7).</p>
        </div>
    </div>
    
    <div class="onOffp linep8 panel panel-default" id="pThird">
        <div class="panel-heading">
            <h3 class="panel-title">Mash</h3>
        </div>
        <div class="panel-body">
            The mash process is one of the most critical steps in brewing. This is where you generate sugars from the starch in the malt. This sugar will serve as a food source for the yeast. <br>
            <img src="img/mash.jpg">
            <p>I like to break my mash into three stages: protein rest, and &beta;-amylase rest, &alpha;-amylase rest. The schema described here is my standard process, but I tweak times, temperatures, and volumes depending on the brew.</p>
            <p>During the protein rest, I hold the grist at 120&deg;F for 20 minutes to solublize malt enzymes and precipitate some excess proteins. Precipitating proteins helps to clarify the wort. You only want a liquid volume of about 3.5 gallons at this stage. Start another gallon of water heating to about 140&deg;F in a separate pan</p>
            <p>After the protein rest, it's time to initialize the &beta;-amylase rest. The purpose of this stage is to gelatinize starch polymers and begin to form soluble disacharrides. Add the water you've been heating in a separate pan to your grist. Raise the temperature to 140&deg;F and hold it there for 20 minutes. At this temperature, &beta;-amylase will be most active. Your pH should have fallen to about 6.5 by this point. &beta;-amylase will clip off maltose units, which are &alpha;-1,4 glucose dimers, from the reducing ends of the starch molecule.</p>
            <img src="structures/starch.JPG" style="width:90%;height:auto;"><br>
            <p>Once the &beta;-amylase rest has completed, heat the mash up to 155&deg;F to initiate the &alpha;-amylase rest. During this stage, you will hydrolize starch molecules pretty much indiscriminately: at the reducing ends, mid-chain, and at branch points. This will release soluble dextrans into the wort.</p>
            <br>
        </div>
    </div>
    
    <div class="onOffp linep8 panel panel-default" id="pFourth">
        <div class="panel-heading">
            <h3 class="panel-title">Lauter</h3>
        </div>
        <div class="panel-body">
            <img src="img/lauter.jpg">         
            <br>
            <p>After mashing, bring the temperature to 165&deg;F. This is called "mashing out". At this temperature most of the malt enzymes will denature and lose their activity. That's OK though, by this point they've cleaved plenty of soluble carbohydrates from the starch. Your pH should have dropped to about 6 at this point. You'll want to make sure you extract all of the soluble sugars, as well as flavor and color compounds from the malt into the wort. To do this, you'll need to recirculate the wort through the grist. This proces is called lautering, and there are a number of ways to do this.</p>
            <p>
            The easiest way is to purchase a 10 gallon water cooler and a false bottom assembly from your local homebrew shop. Talk to the staff there about different options.
            </p>
            <p>After you've lautered, you'll want to do what's known as a sparge. This is where you suspend your grist above your wort, and flow hot water through (~165&deg;F) to replace bound wort in the grist with water. This will improve your extractive efficiency, known as "brewhouse efficiency". After this point, you'll want to remove the grist from the wort. You can discard the spent grist at this point, or use it as an adjunct for baking. Your wort volume should be about 5.5 gallons at this point.</p>
        </div>
    </div>

    <div class="onOffp linep8 panel panel-default" id="pFifth">
        <div class="panel-heading">
            <h3 class="panel-title">Boil</h3>
        </div>
        <div class="panel-body">
            <img src="img/boil.jpg">         
            <br>
            <p>After you've removed the grist from the wort. You can begin bringing the temperature up to a boil. Be sure to watch your kettle during this step. Once your wort boils, you will likely witness what is known as a "hot break". The wort will foam up rapidly, possibly spilling over the edges of the kettle, and making a huge mess. This foaming occurs due to a large number of proteins denaturing upon boiling, and rapidly coagulating. The coagulated proteins increase the surface tension of the wort, contributing to foaming. You may have seen this when boiling pasta before, but it'll be 20 times worse with wort. To avoid any catastrophes, cut the heat as soon as the hot break occurs, and hold it at low heat for a minute or two. The protein will aggregate and crash out of solution during this time, and you shouldn't need to worry about it foaming up again during your boil. </p>
            <p>So now your boiling. Usually, you'll want to hold it at a rolling boil for an hour. During this time, you will add your hops at a calculated time. The boil could be called the only pure chemical process involved in brewing. There is nothing enzymatic happening here, just a series of chemical transformations which occur within the wort driven by heat. 
            <p>One of these transformations is the evolution of dimethyl sulfide gas, which has a notably unpleasant odor. This is why homebrewers always boil with the lid off, so all of this gas escapes.</p>
            <p>One of the most crucial reactions that occurs in during the boil is the isomerization of &alpha;-humulone and related compounds from the hops, collectively known as "alpha acids". Alpha acids are insoluble hop essential oils with incredibly pungent aromas. These alpha acids isomerize with the input of heat to form iso-alpha acids, which are soluble organic compounds with a strikingly bitter taste, but little aroma. A simplified electron-pushing mechanism is depicted here, drawn using ChemSketch software:</p>
            <img src="structures/alphaAcid.JPG">
            <p>So a brewer can modulate the hop character by timing their hop additions. If the brewer adds hops early in the boil, they will convert more of the alpha acids in those hops to iso-alpha acids, and sacrifice aroma for bitterness. If the brewer adds hops late in the boil, they will sacrifice bitterness for aroma. If hop continuously through the boil, they can create the satisfying full spectrum hop character which has become quite popular today. So the same hops can be used in a multitude of ways. Couple this with the myriad varieties of hops on the market today--there are hundreds--, and there are essentially limitless hop characters which can be produced. Hop varieties are famous for their diverse aromas, ranging from citrusy (Citra, Chinook), to piney (Mosaic), floral (Saaz, Spalt), funky (Simcoe) and beyond. </p>
            <p>Another key set of reactions which occur during the boil are Maillard browning and caramelization. One should be aware that they actually occur from the mash through the cooling step, whenever the temperature is above 120&deg;F. Maillard browning is a complex family of reactions between reducing sugars and free amino acids. These reactions produce pigments which darken the wort and complex flavour compounds ranging from bitter to smoky. Caramelization refers to a broad set of oxidation reactions of sugars which lend sweet, nutty flavors to the beer and also contribute to browning.</p>

        </div>
    </div>
    
    <div class="onOffp linep8 panel panel-default" id="pSixth">
        <div class="panel-heading">
            <h3 class="panel-title">Cool</h3>
        </div>
        <div class="panel-body">
            <img src="img/chiller.jpg">         
            <br>
            <p>After your boil, you've isomerized the desired amount of alpha acids, achieved the desired darkness and malt flavor profile, and precipitated the bulk of excess protein in solution. Now, you'll want to cool your wort as quickly as possible to stop these reactions. This will capture the desired attributes in your wort and prevent excess browning and bittering. Generally, it's a good idea to get your wort under 120&deg;F within 20 minutes of the end of your boil</p>
            <p>The best way to cool your wort is with a wort chiller. This is usually a coil of copper tubing through which you can run cold water from your faucet. While the water is running through it, just stick it into your wort to quickly cool it. Copper is extremely conductive, and the cold water inside has a high heat capacity. These two factors, combined with the large surface area of the coil, contribute to the efficiency of this method. It goes without saying that you must sanitize the chiller</p>
            <p>Alternatively, if a wort chiller is not available, you can make an ice bath in the sink. Place the kettle in the ice bath and cover it. Wrap the sides and top of the hot kettle in wet paper towel. As the water evaporates from the paper towels, it draws heat from the kettle and wicks up more cold water from the ice bath through capillary action.</p>
            <p>Chill your wort to below 90&deg;F.</p>
        </div>
    </div>
    
    <div class="onOffp linep8 panel panel-default" id="pSeventh">
        <div class="panel-heading">
            <h3 class="panel-title">Ferment</h3>
        </div>
        <div class="panel-body">
            <img src="img/fermentor.JPG">         
            <br>
            <p>After cooling your wort, it's time to transfer it to the fermentor. Use a siphon if you can. If you did a partial boil, add distilled or cold tap water to final batch volume in the fermentor.</p>
            <p>Give the finished wort a good shake to aerate it. Yeast population growth follows a logistic curve. The exponential and linear phases, where cell division occurs, are aerobic. Thus, it's important to have some dissolved oxygen for the yeast to get going.</p>
            <p>Record pH and original gravity readings, then go ahead and pitch your yeast!</p>
            <p>You probably know this already, but the yeast species you use is what determines whether you're making an ale or a lager. Saccharomyces pastorianus ferments lagers, and Saccharomyces cerevisiae makes ales. If you're making a lager, be sure you have your temperature control system in place by this point. Set it to about 50&deg;F. Lager yeast prefer lower temperatures. If you're making an ale, room temperature will probably do.</p>
            <p>You may wish to transfer your wort to a secondary fermentor after a week or so to aid in clarifying.</p>
            <p>Ferment for at least 2 weeks for ales, and 4-6 for lagers, which ferment slower due to slower yeast metabolism at lower temperatures. </p>
            <p>For lagers, after about two weeks of fermentation you'll want to do a diacetyl rest at around 65&deg;F for a couple of days, then return the temperature to 50&deg;F. Diacetyl is a natural product of yeast amino acid metabolism which imparts an unpleasant flavour on beer often described as corn-like or buttery.<br>
            <img src="structures/diacetyl.JPG"><br>
            Diacetyl is more water soluble at lower temperatures, so raising the temperature temporarily will cause much of the diacetyl to off-gas. Most of the diacetyl should have formed during the first couple of weeks, when the bulk of fermentation occurs. For ales, this is not a concern as the higher fermentation temperature prevents buildup of diacetyl.</p>
        </div>
    </div>
    
    <div class="onOffp linep8 panel panel-default" id="pEighth">
        <div class="panel-heading">
            <h3 class="panel-title">Dispense</h3>
        </div>
        <div class="panel-body">
            <img src="img/bottle.JPG">         
            <br>
            <p>After fermentation, you'll have a thick layer of trub at the bottom of your fermentor. Trub is a sludgy mixture of yeast and aggregated protein which you do not want in your beer. Carefully siphon the beer above this trub into a keg or a dispensing bucket for bottling. </p>
            <p>If you are bottling, it is best to use a dispensing bucket with a spigot. You will be carbonating in your bottles, so you need to add some corn sugar. This sugar will give the yeast some extra food so that they give off some more CO<sub>2</sub> gas. Production of this gas under pressure will carbonate the beer in about 2 weeks. Calculate the amount of sugar you need to add. There are many good tools for this online. I usually end up adding 2/3 to 3/4 of a cup of extra sugar here. Stir your sugar in in the dispensing bucket and dispense into sterilized bottles. Cap the bottles and set them aside to carbonate</p>
            <p>If you are kegging, simply transfer the beer from your fermentor to the keg, seel, and pressurize with CO<sub>2</sub>. There are many resources on this topic on websites like homebrew.org (linked in the Resources page).</p>
        </div>
    </div>
    
    <div class="onOffp linep8 panel panel-default" id="pNinth">
        <div class="panel-heading">
            <h3 class="panel-title">Condition</h3>
        </div>
        <div class="panel-body">
            <img src="img/lagering.jpg">         
            <br>
            <p>If you kegged, your beer is essentially ready to drink. Storing at cellar temperature for a few weeks may help clarify the beer through what is known as a 'cold crash'.</p>
            <p>If you've bottled, let your bottles hang out at cellar-to-room temperature for a couple of weeks. Do not keep them in the fridge, as they won't carbonate.</p>
            <p>Now, of course you can age any beer for as long as you want, and for some styles, this will lend desirable characteristics.</p>
        </div>
    </div>
    
    <div class="onOffp linep8 panel panel-default" id="pTenth">
        <div class="panel-heading">
            <h3 class="panel-title">Enjoy</h3>
        </div>
        <div class="panel-body">
            <img src="img/cheers.jpg">         
            <br>
            Cheers!
        </div>
    </div>
                 
</div>    

<style>
    #proclink {
        background: #EEEEEE;
    }
</style>