<div ng-controller="mousePop">
    <div class="page-header">
        <div class="jumbotron">
            <h1>Process</h1>
        </div>
    </div>

    <ul class="linep1 list-group">
        <a href="#" id="lFirst" ng-mouseover="mouseOver($event)" class="list-group-item">Plan</a>
        <a id="lSecond" ng-mouseover="mouseOver($event)" class="list-group-item">Stage</a>
        <a id="lThird" ng-mouseover="mouseOver($event)" class="list-group-item">Mash</a>
        <a id="lFourth" ng-mouseover="mouseOver($event)" class="list-group-item">Lauter</a>
        <a id="lFifth" ng-mouseover="mouseOver($event)" class="list-group-item">Boil</a>
        <a id="lSixth" ng-mouseover="mouseOver($event)" class="list-group-item">Cool</a>
        <a id="lSeventh" ng-mouseover="mouseOver($event)" class="list-group-item">Ferment</a>
        <a id="lEighth" ng-mouseover="mouseOver($event)" class="list-group-item">Dispense</a>
        <a id="lNinth" ng-mouseover="mouseOver($event)" class="list-group-item">Condition</a>
        <a id="lTenth" ng-mouseover="mouseOver($event)" class="list-group-item">Enjoy</a>
    </ul>
    
    <div id="instruct">(Mouse over items on the left to view)</div>

    <div class="onOffp linep8 panel panel-default" id="pFirst">
        <div class="panel-heading">
            <h3 class="panel-title">Plan</h3>
        </div>
        <div class="panel-body">
            <img src="img/plan.jpg">         
            <br>
            At vero eos et accusamus et iusto odio dignissimos. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
        </div>
    </div>
    
    <div class="onOffp linep8 panel panel-default" id="pSecond">
        <div class="panel-heading">
            <h3 class="panel-title">Stage</h3>
        </div>
        <div class="panel-body">
            <img src="img/stage.jpg">         
            <br>
            At vero eos et accusamus et iusto odio dignissimos. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
        </div>
    </div>
    
    <div class="onOffp linep8 panel panel-default" id="pThird">
        <div class="panel-heading">
            <h3 class="panel-title">Mash</h3>
        </div>
        <div class="panel-body">
            <img src="img/mash.JPG">
            <img src="structures/starch.JPG" style="width:90%;height:auto;">
            <br>
            At vero eos et accusamus et iusto odio dignissimos. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
        </div>
    </div>
    
    <div class="onOffp linep8 panel panel-default" id="pFourth">
        <div class="panel-heading">
            <h3 class="panel-title">Lauter</h3>
        </div>
        <div class="panel-body">
            <img src="img/lauter.jpg">         
            <br>
            At vero eos et accusamus et iusto odio dignissimos. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
        </div>
    </div>

    <div class="onOffp linep8 panel panel-default" id="pFifth">
        <div class="panel-heading">
            <h3 class="panel-title">Boil</h3>
        </div>
        <div class="panel-body">
            <img src="img/boil.jpg">         
            <br>
            At vero eos et accusamus et iusto odio dignissimos. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
        </div>
    </div>
    
    <div class="onOffp linep8 panel panel-default" id="pSixth">
        <div class="panel-heading">
            <h3 class="panel-title">Cool</h3>
        </div>
        <div class="panel-body">
            <img src="img/chiller.jpg">         
            <br>
            At vero eos et accusamus et iusto odio dignissimos. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
        </div>
    </div>
    
    <div class="onOffp linep8 panel panel-default" id="pSeventh">
        <div class="panel-heading">
            <h3 class="panel-title">Ferment</h3>
        </div>
        <div class="panel-body">
            <img src="img/fermentor.JPG">         
            <br>
            At vero eos et accusamus et iusto odio dignissimos. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
        </div>
    </div>
    
    <div class="onOffp linep8 panel panel-default" id="pEighth">
        <div class="panel-heading">
            <h3 class="panel-title">Dispense</h3>
        </div>
        <div class="panel-body">
            <img src="img/bottle.JPG">         
            <br>
            At vero eos et accusamus et iusto odio dignissimos. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
        </div>
    </div>
    
    <div class="onOffp linep8 panel panel-default" id="pNinth">
        <div class="panel-heading">
            <h3 class="panel-title">Condition</h3>
        </div>
        <div class="panel-body">
            <img src="img/lagering.jpg">         
            <br>
            At vero eos et accusamus et iusto odio dignissimos. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
        </div>
    </div>
    
    <div class="onOffp linep8 panel panel-default" id="pTenth">
        <div class="panel-heading">
            <h3 class="panel-title">Enjoy</h3>
        </div>
        <div class="panel-body">
            <img src="img/cheers.jpg">         
            <br>
            At vero eos et accusamus et iusto odio dignissimos. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
        </div>
    </div>
                 
</div>    

<style>
    #proclink {
        background: #EEEEEE;
    }
</style>