<div ng-controller="mousePop">
    <div class="page-header">
        <h1>Process</h1>
    </div>

    <ul class="line">
        <li id="lFirst" ng-mouseover="mouseOver($event)" ng-mouseleave="mouseOff($event)">Plan</li>
        <li id="lSecond" ng-mouseover="mouseOver($event)" ng-mouseleave="mouseOff($event)">Stage</li>
        <li id="lThird" ng-mouseover="mouseOver($event)" ng-mouseleave="mouseOff($event)">Mash</li>
        <li id="lFourth" ng-mouseover="mouseOver($event)" ng-mouseleave="mouseOff($event)">Lauter</li>
        <li id="lFifth" ng-mouseover="mouseOver($event)" ng-mouseleave="mouseOff($event)">Boil</li>
        <li id="lSixth" ng-mouseover="mouseOver($event)" ng-mouseleave="mouseOff($event)">Cool</li>
        <li id="lSeventh" ng-mouseover="mouseOver($event)" ng-mouseleave="mouseOff($event)">Ferment</li>
        <li id="lEighth" ng-mouseover="mouseOver($event)" ng-mouseleave="mouseOff($event)">Dispense</li>
        <li id="lNinth" ng-mouseover="mouseOver($event)" ng-mouseleave="mouseOff($event)">Condition</li>
        <li id="lTenth" ng-mouseover="mouseOver($event)" ng-mouseleave="mouseOff($event)">Enjoy</li>
    </ul>

    <p class="onOffp line" id="pFirst">
        At vero eos et accusamus et iusto odio dignissimos. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
    </p>
    <p class="onOffp line" id="pSecond">
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
    </p>
    <p class="onOffp line" id="pThird">
        Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?
    </p>
    <p class="onOffp line" id="pFourth">
        At vero eos et accusamus et iusto odio dignissimos. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
    </p>
    <p class="onOffp line" id="pFifth">
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
    </p>
    <p class="onOffp line" id="pSixth">
        Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?
    </p>
    <p class="onOffp line" id="pSeventh">
        At vero eos et accusamus et iusto odio dignissimos. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
    </p>
    <p class="onOffp line" id="pEighth">
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
    </p>
    <p class="onOffp line" id="pNinth">
        Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?
    </p>
    <p class="onOffp line" id="pTenth">
        Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?
    </p>
                 
</div>    
