      <input type="text" ng-model="first" />
      <input type="text" ng-model="second" />
      <button ng-click="updateValue()">Sum</button>
      <br><br>
      {{calculation}}
<p ng-bind="calculation"></p>
      <p>first: <span ng-bind="first"></span>, second: <span ng-bind="second"></span>, sum: <span ng-bind="+first + +second"></span></p>