<!--********************************************************************************************************************************* 
    Title: Handlebars for References page
    Author: Sean Hinds
    Date: 11/18/17
    Description: References page template.
**********************************************************************************************************************************-->

<div class="page-header">
    <div class="jumbotron">    
        <h1>Works Referenced</h1>
        <h3>Information and code dependencies used to build this site</h3>
    </div>
</div>

<div class="textBox">

    <h2>Images</h2>
    <p>ALL images used in this site are either my own, or public domain. No attribution is required for any images.</p>
	<h4>PEXEL:</h4>
	<ul>
		<li>https://static.pexels.com/photos/8859/drink-beer.jpg
		<li>https://www.pexels.com/photo/brass-frame-brown-wooden-barrel-33686/
		<li>https://www.pexels.com/photo/party-beer-ice-bottles-8808/
	</ul>
	<h4>Pixabay:</h4>
	<ul>
		<li>https://pixabay.com/en/hops-flower-hops-green-close-2730269/
		<li>https://pixabay.com/en/arduino-electronics-1128227/
		<li>https://pixabay.com/en/beer-alcohol-cylinder-brewing-40264/
	</ul>
	<h4>Unsplash:</h4>
	<ul>
		<li>Andrew Ruiz: https://unsplash.com/photos/tG6phNsMUp4
		<li>Yutacar: https://unsplash.com/photos/JKMnm3CIncw
		<li>Paloma A: https://unsplash.com/photos/a19U7mqK6OI
		<li>Fabio Alves: https://unsplash.com/photos/4L7ymr4YYfY
		<li>Joel Barwick: https://unsplash.com/photos/nmHpOPGW8Ew
		<li>Sydney Zentz: https://unsplash.com/photos/l8MNr08fUO8
		<li>Christal Yuen: https://unsplash.com/photos/wgm03_9ARRM
		<li>Patrick Fore: https://unsplash.com/photos/Pbid6VWDYtE
		<li>Adam Wilson: https://unsplash.com/photos/6ZZh8kOyW-4
		<li>Joel Aguilar: https://unsplash.com/photos/J3iadlhQ7qc
		<li>Matan Segev: https://www.pexels.com/photo/depth-of-field-photo-of-two-pilsner-glasses-681847/
		<li>Diego PH: https://unsplash.com/photos/fIq0tET6llw
	</ul>
	<h4>homebrewtalk.com:</h4>
	<ul>
		<li>http://www.homebrewtalk.com/photo/img_2617-67709.html
		<li>http://www.homebrewtalk.com/photo/setup-40397.html
		<li>http://www.homebrewtalk.com/photo/boil-56845.html
	</ul>

	<h2>&alpha;-amylase Structure</h2>
		<li>http://www.rcsb.org/pdb/explore.do?structureId=1PPI

	<h2>Dependencies & Software</h2>
	<ul>
		<li>Node.js
		<li>Node Express Handlebars
		<li>AngularJS
		<li>Bootstrap
		<li>Heroku Server
		<li>Adobe Brackets IDE
		<li>Sublime Text IDE
		<li>Youtube iframe API
		<li>ChemSketch
		<li>PyMol
		<li>Microsoft Visio
	</ul>

</div>