<!--  -->

<div ng-controller="mousePop">

    <div class="page-header">
        <div class="jumbotron">    
            <h1>Resources</h1>
        </div>
    </div>
            
    <ul class="line">
        <h1>Web Links</h1>
        <li>
            <a href="http://www.homebrew.org">homebrew.org</a> 
        </li>
        <p>
            This is the site for the American Homebrewers Association. Here you can find recipes, information, and local events. There's a lot to explore here.
        </p>
        <li>
            <a href="http://www.brewersfriend.com">Brewers Friend</a>
        </li>
        <p>
            Brewersfriend offers a number of useful software tools for brewers. My favorite app is their recipe calculator. I've used this for every beer I've ever made to design a recipe with the desired ABV, color, and IBU's. It is very accurate.
        </p>
        <li>
            <a href="http://www.northernbrewer.com">Northern Brewer</a>
        </li>
        <p>
            Northern brewer is a good place to look at the newest equipment homebrewers are using.
        </p>
        <h1>Downloads</h1>        
        <li>
            <a href="xls/template082817.xlsx" download>Brewday Spreadsheet Template</a>
        </li>
        <p>
            Here is a spreadsheet template I made for brewday documentation. I fill this out for every brew. Looking back at past spreadsheets gives me valuable insight for future brews. Let me know what you think!
        </p>
    </ul> 
    
        <!-- This is where the Youtube iFrame will go -->
        <div id="player"></div>
            <div id="player2"></div>

    
    
    
</div>

<style>
    #resourcelink {
        background: #EEEEEE;
    }
</style>

<script type="text/javascript" src="js/youtubeAJAX.js"></script>