<div ng-controller="mousePop">

    <div class="page-header">
        <h1>Resources</h1>
    </div>
            
    <ul class="line">
        <li>
            <a href="http://www.homebrew.org">homebrew.org</a> 
        </li>
        <p>
            At vero eos et accusamus et iusto odio dignissimos. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit
        </p>
        <li>
            <a href="http://www.brewersfriend.com">Brewers Friend</a>
        </li>
        <p>
            At vero eos et accusamus et iusto odio dignissimos. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit
        </p>
        <li>
            <a href="http://www.northernbrewer.com">Northern Brewer</a>
        </li>
        <p>
            At vero eos et accusamus et iusto odio dignissimos. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit
        </p>    
        <li>Lauter</li>
        <p>
            At vero eos et accusamus et iusto odio dignissimos. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit    
        </p>
        <li>Boil</li>
        <p>
            At vero eos et accusamus et iusto odio dignissimos. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit    
        </p>
        <li>Cool</li>
        <p>
            At vero eos et accusamus et iusto odio dignissimos. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit    
        </p>
        <li>Ferment</li>                   
        <p>
            At vero eos et accusamus et iusto odio dignissimos. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit    
        </p>  
        <li>Dispense</li>
        <p>
            At vero eos et accusamus et iusto odio dignissimos. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit    
        </p>
        <li>Condition</li>
        <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem 
        </p>
        <li>Enjoy</li>
        <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem 
        </p>
    </ul>    
    
</div>