<div ng-controller="mousePop">

    <div class="page-header">
        <div class="jumbotron">    
            <h1>Resources</h1>
        </div>
    </div>
            
    <ul class="line">
        <h1>Web Links</h1>
        <li>
            <a href="http://www.homebrew.org">homebrew.org</a> 
        </li>
        <p>
            At vero eos et accusamus et iusto odio dignissimos. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit
        </p>
        <li>
            <a href="http://www.brewersfriend.com">Brewers Friend</a>
        </li>
        <p>
            At vero eos et accusamus et iusto odio dignissimos. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit
        </p>
        <li>
            <a href="http://www.northernbrewer.com">Northern Brewer</a>
        </li>
        <p>
            At vero eos et accusamus et iusto odio dignissimos. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit
        </p>
        <h1>Downloads</h1>        
        <li>
            <a href="xls/template082817.xlsx" download>Brewday Spreadsheet Template</a>
        </li>
        <p>
            At vero eos et accusamus et iusto odio dignissimos. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit    
        </p>
    </ul> 
    
        <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
        <div id="player"></div>
            <div id="player2"></div>

    
    
    
</div>

<style>
    #resourcelink {
        background: #EEEEEE;
    }
</style>

<script type="text/javascript" src="js/youtubeAJAX.js"></script>