body {
    background-attachment: fixed;
    background-color: #FFEEC1;
}

footer {
    background-color: #EEEEEE;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 1px solid #999999;
    height: 400px;
    padding-left: 10%;
    padding-top: 4%;
}

.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}

.theme-showcase > p > .btn {

    margin: 5px 0;
}

.theme-showcase {
    margin-left: 10%;
    margin-top: 5%;
    margin-right: 10%;
    /* keep footer at bottom */
    margin-bottom: 10%;
    width: auto;
}

.textBox {
    margin-top:30px;
    margin-bottom: 20px;
    align-content: center;
    font-size: 18px;
}

.navbar-header button {
    align-content: left;
}

.carousel-inner .item {
    align-content: center;
}

.carousel-inner > .item > img {
    margin: 0 auto;
    height: 500px;
    width: 900px;
}

.line {
    display:block;
    width: 25%;
    float:left;
    margin-top: 30px;
    margin-right: 100px;
}

.linep1 {
    display:block;
    width: 12%;
    float:left;
    margin-top: 30px;
    margin-right: 100px;
}

.linep6 {
    display:block;
    width: 60%;
    float:left;
    margin-top: 30px;
}

.linep8 {
    display:block;
    width: 80%;
    float:left;
    margin-top: 30px;
}

.onOffp {
    display: none;
}

.line > a, .line > li {
    font-size: 20px;
    font-weight: 100;
    
}

.selector {
    width: 170px;
    margin-right: 5%;
    font-size: 20px;
}

.panel {
    display: none;
    text-align: left;
    width: 74%;
}

.panel-body > img, .onOffp > img {
    height: 320px;
    max-width: 500px;
}

.container-fluid {
    margin-top: 40px;
    margin-right: 15%;
    text-align: center;
}

.embeddedIcon {
    height: 60px;
}

#topIcon {
    margin-left: 100%;
}

#bottomIcon {
    margin-left: 100%;
}

#pilsener > .panel-heading, #gose > .panel-heading {
    background: #fcf7b9;
}

#indiaPaleAle > .panel-heading, #saison > .panel-heading {
    background: #fee7a4;
}

#brownAle > .panel-heading, #lambic > .panel-heading {
    background: #83533a;
    color: white;
}

#porter > .panel-heading {
    background: #500000;
    color: white;
}

#oktoberfest > .panel-heading {
    background: #e5ad2a;
}

#footer-myinfo {
    position: static;
}

#player {
    margin-top: 100px;
    margin-left: 4%
}

#instruct {
    font-size: 30px;
    text-align: center;
    margin-top: 20%;
    position: static;
}

