<!DOCTYPE html>

<!-- AngularJS: ng-app specifies Angular app, ng-init= initializes data -->
<html ng-app="app" ng-init="">
	
	<head>
	    
	    <!-- Bootstrap -->
	    <meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<!-- The above 3 meta tags must come first in the head;-->
    	<meta name="description" content="">
    	<meta name="author" content="">
    	<link rel="icon" href="../../favicon.ico">

    	<!-- Optional theme -->
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">        
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!-- Custom styles for this template -->
    	<link href="../styles/theme.css" rel="stylesheet">
		
		<title>Homebrew Labs</title>
	
	</head>
	
	<body>

		<!-- AngularJS: add controller to view-->
		<div ng-controller="mousePop">

			<!-- Bootstrap: navigation bar -->
		    <nav class="navbar navbar-inverse navbar-fixed-top">
		      <div class="container">
		        <div class="navbar-header">
		          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		            <span class="sr-only">Toggle navigation</span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		          </button>
		          <a class="navbar-brand" href="home.html">Homebrew Labs</a>
		        </div>
		        <div id="navbar" class="navbar-collapse collapse">
		          <ul class="nav navbar-nav">
		            <li><a href="process.html">Process</a></li>
		            <li><a href="beerStyle.html">Styles</a></li>
		            <li class="active"><a href="resources.html">Resources</a></li>
		            <li class="dropdown">
		              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About <span class="caret"></span></a>
		              <ul class="dropdown-menu">
		                <li><a href="about.html">About</a></li>
                        <li><a href="contact.html">Contact</a></li>
		                <li role="separator" class="divider"></li>
		                <li><a href="references.html">References</a></li>
		              </ul>
		            </li>
		          </ul>
		        </div><!--/.nav-collapse -->
		      </div>
		    </nav>		

            <div class="container theme-showcase">
                <div class="page-header">
                    <h1>Resources</h1>
                </div>
            
                <ul class="line">
                        <li>
                            <a href="http://www.homebrew.org">homebrew.org</a> 
                        </li>
                        <p>
                            At vero eos et accusamus et iusto odio dignissimos. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit
                        </p>
                        <li>
                        <a href="http://www.brewersfriend.com">Brewers Friend</a>
                        </li>
                        <p>
                            At vero eos et accusamus et iusto odio dignissimos. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit
                        </p>
                        <li>
                            <a href="http://www.northernbrewer.com">Northern Brewer</a>
                        </li>
                        <p>
                            At vero eos et accusamus et iusto odio dignissimos. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit
                        </p>    
                        <li>Lauter</li>
                        <p>
                            At vero eos et accusamus et iusto odio dignissimos. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit    
                        </p>
                        <li>Boil</li>
                        <p>
                            At vero eos et accusamus et iusto odio dignissimos. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit    
                        </p>
                        <li>Cool</li>
                        <p>
                            At vero eos et accusamus et iusto odio dignissimos. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit    
                        </p>
                        <li>Ferment</li>                   
                        <p>
                            At vero eos et accusamus et iusto odio dignissimos. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit    
                        </p>  
                        <li>Dispense</li>
                        <p>
                            At vero eos et accusamus et iusto odio dignissimos. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit    
                        </p>
                        <li>Condition</li>
                        <p>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem 
                        </p>
                        <li>Enjoy</li>
                        <p>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem 
                        </p>
                </ul>
            </div>

        </div>
			    

	    <!-- Bootstrap: core JavaScript-->
	    <!-- Placed at the end of the document so the pages load faster -->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
	    <script src="../../dist/js/bootstrap.min.js"></script>
	    <script src="../../assets/js/docs.min.js"></script>
	    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

		<!--AngularJS: API and module links-->
	    <!-- Load the AngularJS library -->
	    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
	    <!-- Load the JS Module -->
	    <script src="../js/default.js"></script>
        <script src="../js/mousePop.js"></script>

	</body>

</html>